/********************Color Palette************************/

/******Tints*********/
/*color-1: #437C7A*/
/*color-2: #0F6A67*/

/******Shades*******/
/*color-3: #304A4D*/
/*color-4: #1C2127*/

/******General colors*******/
/*color-primary: #F1CEB4*/
/*color-secondary: #DCAA85*/

/****************Global Reaset**************************/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #304A4D;
  font-family: 'Montserrat', sans-serif;
}

.view{
  max-width: 100rem;
  margin: 15rem auto;
}

/****************special**************************/

.margin-half{
  margin-left: 80rem;
}

.margin-top-2{
  margin-top: 2rem !important;
}

.align-items-center{
  margin: 0 7rem;
}

.width-10{
  width: 10.8rem;
  padding: 0.8rem 3.5rem !important;
}

.arrow{
  width: 20rem;
  height: 20rem;
  margin-left: 90rem;
  margin-top: 5rem !important;
}
/****************Web Dev details**************************/

.dev-details{
  float: left;
  margin-top: 7rem;
}

.primary-heading{
  font-size: 6rem;
  font-family: inherit;
  font-weight: 900;
  color: #F1CEB4;
}

.secondary-heading{
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  color: #F1CEB4;
  margin-top: 1rem;
}

.buttons{
  margin-top: 3rem;
}


.contact-btn:link,.contact-btn:visited{
  display: inline-block;
  margin-right: 1.8rem;
  background-color: #DCAA85;
  color: #1C2127;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
}

.work-btn:link, .work-btn:visited{
  display: inline-block;
  background-color: #1C2127;
  color: #F1CEB4;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem 2.6rem;
  border: 1px solid #DCAA85;
  border-radius: 0.6rem;
}


/****************Web Dev photo**************************/

.dev-photo{
  float: right;
  margin-right: 4rem;
}

.dev-photo-box{
  position: relative;
}

.dev-img{
  width: 35rem;
  height: 35rem;
  
}

.dev-photo-box::before{
    content: "";
    position: absolute;
    top: 4rem;
    right: -4rem;
    z-index: -1;
    width: 35rem;
    height: 35rem;
    background-color: #437C7A;
}

/****************About Me**************************/

.feedback-btn{
  float: right;
  margin: 2rem 1.5rem 0 0;
  background-color: #1C2127;
  color: #F1CEB4;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  padding: 0.8rem 2.6rem;
  border: 1px solid #DCAA85;
  border-radius: 0.6rem;
}

.work-box{
  width: 45rem;
  height: 41rem;
  background-color: #1C2127;
  margin: 8rem auto;
}

.work-photo img{
  width: 100%;
}

.info-box{
  color: #F1CEB4;
  padding: 2.4rem 3rem 3rem;
}

/****************queries**************************/


/****************590 PX Screen**************************/
@media (max-width: 59em){
  .view{
    margin: 8rem auto 0 auto;
    width: 40rem;
  }
  /****************Web Dev details**************************/
  .dev-details{
    float: none;
    text-align: center;
    margin-top: 5rem;
  }
  .primary-heading{
    font-size: 4rem;
  }
  .secondary-heading{
    font-size: 1.8rem;
  }
  .buttons{
    text-align: center;
    margin-top: 2.4rem;
  }
  .contact-btn:link,.contact-btn:visited{
    font-size: 1rem;
  }
  .work-btn:link, .work-btn:visited{
    font-size: 1rem;
  }
  /****************Web Dev photo**************************/
  .dev-img{
    width: 15rem;
    height: 15rem;
  }
  .dev-photo{
    float: none;
    text-align: center;
    margin-right: 0;
  }
  .dev-photo-box::before{
    top: 2rem;
    right: 10.2rem;
    width: 15rem;
    height: 15rem;
  }
}


/****************370 PX Screen**************************/
/* @media (max-width: 37em) {
  html{
    font-size: 58%;
  }

  .view{
    margin: 10rem auto 0 auto;
    width: 40rem;
  } */
  /****************Web Dev details**************************/
  /* .dev-details{
    float: none;
    text-align: center;
    margin-top: 5rem;
  }
  .primary-heading{
    font-size: 3.5rem;
  }
  .secondary-heading{
    font-size: 1.6rem;
  }
  .buttons{
    text-align: center;
    margin-top: 2.4rem;
  }
  .contact-btn:link,.contact-btn:visited{
    font-size: 1.2rem;
  }
  .work-btn:link, .work-btn:visited{
    font-size: 1.2rem;
  } */
  /****************Web Dev photo**************************/
  /* .dev-img{
    width: 15rem;
    height: 15rem;
  }
  .dev-photo{
    float: none;
    text-align: center;
    margin-right: 0;
  }
  .dev-photo-box::before{
    top: 2rem;
    right: 10.2rem;
    width: 15rem;
    height: 15rem;
  }
} */



